@model Avancerad_Labb.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Antal
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.products != null)
        {
            foreach (var item in Model.products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item2.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item1)
                    </td>
                    <td>
                        @Html.ActionLink("Redigera antal", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Detaljer", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Ta bort", "RemoveItem", "cart", new { id = item.Item2.ID })
                    </td>
                </tr>
            }
        }
        else
        {
            @Html.ActionLink("Du har inga varor i din varukorg. Tryck här för att gå till produkt-sidan", "Index", "Products")
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="row">Totalpris</th>
            <td>@Model.TotalPrice</td>
        </tr>
    </tfoot>
</table>
