@model Avancerad_Labb.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Kundvagn";
}
<head>

    <link rel="stylesheet" href="~/css/site.css" />
</head>


<h1>Kundvagn</h1>
<form method="post" asp-action="PlaceOrder">
    @if (Model.OrderProducts != null)
    {
        <div style="overflow-x:auto">
            <table class="table bg-dark text-info" style="white-space:nowrap">
                <thead>
                    <tr>
                        <th>
                            Namn
                        </th>
                        <th>
                            Antal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrderProducts.Count; i++)
                    {
                        @Html.HiddenFor(modelItem => Model.OrderProducts[i].Product.ID)
                        @Html.HiddenFor(modelItem => Model.OrderProducts[i].Product.imageURL)
                        @Html.HiddenFor(modelItem => Model.OrderProducts[i].Product.Price)
                        @Html.HiddenFor(modelItem => Model.OrderProducts[i].Product.Description)
                        @Html.HiddenFor(modelItem => Model.OrderProducts[i].Amount)
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.OrderProducts[i].Product.Name)
                                @Html.HiddenFor(modelItem => Model.OrderProducts[i].Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.OrderProducts[i].Amount)
                            </td>
                            <td>
                                @Html.ActionLink("-", "MinusOneAmount", "cart", new { id = Model.OrderProducts[i].Product.ID }) |
                                @Html.ActionLink("+", "PlusOneAmount", "cart", new { id = Model.OrderProducts[i].Product.ID }) |
                                @Html.ActionLink("Ta bort", "RemoveItem", "cart", new { id = Model.OrderProducts[i].Product.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-2 bg-dark text-info">
            <div>
                Totalpris: @Model.TotalPrice kr
            </div>
            <div>
                <input type="submit" value="Köp nu" class="btn btn-primary" />
            </div>
        </div>
    }
    else
    {
        @Html.ActionLink("Du har inga varor i din varukorg. Tryck här för att gå till produkt-sidan", "Index", "Products")
    }
    @Html.HiddenFor(modelItem => Model.TotalPrice)
</form>
