@model Avancerad_Labb.Models.Order

@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Din Order</h1>

<div class="card m-md-2">
    <div class="card-body">
        <h5 class="card-title">Order-id: @Model.Id</h5>
        <p class="card-text">Totalpris: @Model.TotalPrice Kr</p>
        <p class="card-text">Tid och Datum: @Model.Date</p>
        <p class="card-text">Namn: @Model.FirstName @Model.LastName</p>
        <p class="card-text">Leveransaddress: @Model.Adress, @Model.ZipCode @Model.City</p>

    </div>
</div>


<div style="overflow-x:auto">
    <table class="table" style="white-space:nowrap">
        <thead>
            <tr>
                <th>
                    Produkt
                </th>
                <th>
                    Antal
                </th>
                <th>
                    Pris / Antal
                </th>
                <th>
                    Pris
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderRows)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @(item.Price * item.Amount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
